<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AttainU App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div class="container-fluid">

        <div class="row">
            <div class="offset-md-4 col-md-4">
                <h2>AttainU App - Instructors</h2>
                <hr>

                <p>
                    <a href="/">Go back to Main Menu</a>
                </p>

                <table class="table table-striped">
                    <thead>
                        <th>Name</th>
                        <th>Phone</th>
                    </thead>

                    <tbody>

                        {{#each instructors}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{phone}}</td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>

            </div>
        </div>

    </div>
    
</body>
</html>