*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .debug-row{
    border:1px solid red;
  }
  .debug-col{
    border:1px solid green;
  }
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
  
  }
  .col_1{
    width: 8.33%;
    }
  .col_2{
    width: 16.66%;
  
  }
  .col_3{
    width: 24.99%;
  
  }
  .col_4{
     
  
    width: 33.33%;
    }
  .col_5{
    width: 41.66%;
  
  
  }
  .col_6{
    width: 49.99%;
  
  
  }
  .col_7{
    width: 58.33%;
  
  }
  .col_8{
    width: 66.66%;
  }
  .col_9{
    width: 74.99%;
  }
  .col_10{
    width: 83.33%;
    }
  .col_11{
    width: 91.66%;
    }
  .col_12{
    width: 100%;
  
  }