<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacts App</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-4 col-md-4">

                <h2>Contacts App</h2>
                <hr>

                <label for="">
                    Name: <input id="personName" type="text" class="form-control">
                </label>
                
                <br>

                <label for="">
                    Phone No: <input id="phoneNumber" type="text" class="form-control">
                </label>

                <br>
                
                <button id="button" type="submit" class="btn btn-info">Add</button>

                <br>
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        
                    </tbody>
                </table>



            </div>
        </div>
    </div>
    <script src="script.js"></script>

</body>
</html>