<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>

<body>

    <div class="container">

        <div class="row align-items-center">
            <div class="col-md-6">
           Welcome to the <a href="/signup">SignUp</a> Page of this website <br>
           If you already have an account on our website please click on <a href="/login">Login</a>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
        </div>

        <div class="row justify-content-center">
            
            <div class="col-md-6">
                <form action="/signup" method="POST">

                    <div class="form-group">
                        <label for="title">Name:</label>
                        <input type="text" name="userName" id="userName" class="form-control">
                    </div>
                    
                     <div class="form-group">
                        <label for="title">Valid Email Id:</label>
                        <input type="text" name="emailid" id="emailid" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="content">Password:</label>
                        <input class="form-control" type="password" name="password" id="password">
                    </div>

                    <button type="submit" class="btn btn-primary">SignUp</button>

                </form>
            </div>
        </div>
    </div>

</body>

</html>