table{
    border-collapse: collapse;
    width: 400;
    
    }
table th{
    text-align: center;
    background-color: orangered;
    color: aliceblue;
    padding: 4px 15px 4px 8px;
}

table td{
    text-align: center;
    border: 2px solid red;
    padding: 4px 8 px;
    width: 200;
    height: 100;

}
nav{
    width: 120px;
    height: 100px;
    background-color: aquamarine;
    border: 2px solid red;
}

p{
    text-align: center;
    text-shadow: 1px;
    font-size: 40px;
    height: 100px;
    border: 2px solid orangered;
}

h1{
    background-color: aquamarine;
    border: 2px solid green;
    text-align: center;
}