#header {
    width: 100%;
    background-color: red;
    height: 30px;
    text-align: center;
    color: aliceblue;
}

#container {
    width: auto;
    background-color: #ffcc33;
    margin: auto;
}
#first {
    width: 120px;
    float: left;
    height: 500px;
    background-color:rgb(220, 230, 173);
    text-align: center;
    margin-left: 0px;
}
#second {
    width: 600px;
    float: left;
    height: 500px;
    background-color: lightgreen;
}
#clear {
    clear: both;
}
h2{
    border: 1px solid red;
    text-align: center;
    height: 50px;
    background-color: red;
}

table th{
    background-color: gray;
    width: 600px;
    border: 1px solid red;
    padding: 20px 20px 20px;
}

table td{
    width: 600px;
    height: 130px;
    border: 1px solid red;
    padding: 20px 20px 20px;
    text-align: center;
}