body{
    background-color:gray;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}



.loginform{
   background: lavender;
   border-color:brown;

   height: 200px;
   width: 300px;
   margin: 0 auto;
   padding: 5em 5em 5em 5em;

}
#button{
    align-self: center;
    size: 80 em;
    font-family: 'Times New Roman', Times, serif;
    font-style: initial;

} 
#p{
    align-self: center;
    size:80rem;
}