body{
    background-image: url('puppy.jpg');
}

h1{
    color: orange;
}
.navigation{
 background-color:#fff;
 border:2px solid;
 border-color: black;
 padding:16px;
 padding-top: 10px;
 position:absolute;
}

table {
    border: solid 1px;
    border-color: black;
    padding-right: 50px;
    margin:10px;
    width:100%;
    height:100%;
    position: floating;

}