body {
  background-image: url("https://images.unsplash.com/photo-1530482817083-29ae4b92ff15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  /* background-repeat: no-repeat; */
  background-size: 100% 100%;
  height: 500px;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  color: white;
}

p {
  text-align: center;
  color: white;
  font-size: 2em;
}

ul {
  position: relative;
  left: 45%;
  color: white;
  font-size: 25px;
}