.body{
    text-align: center;
    background-color: lightgrey;
    padding-top: 5%;
}
 
.h1{
    text-align:center ;
}

.button{
    text-align: center;
    padding-left: 20%;
}

.form{
    margin: 20px;
}