.header {
    background-color: lightgrey;
    font-style: normal;
}
.table, td, th{
    border:1px solid black;
 }
 .th{
     height:5px;
 }
.content {
    float: right;
}
.nav{
    border: solid black 3px;
    float: left;
    min-height: 400px;
    background:white;
    width: 250px;
    text-align: start;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer{
    position: fixed;     
    text-align: center;    
    bottom: 15px; 
    width: 100%;
    font-family: fantasy;
    background-color: brown;
}